
<div class="test">
<h3>Đây là Component Home</h3>
<br>
<h1>Trái cây</h1>

<div *ngFor="let trai of traiCay; let i = index">
<!-- <li>{{i}}.{{trai}}</li>
<br> -->


  <!-- <li>Táo</li>
  <li>Vải</li> -->

</div>

<!-- <table class="border">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
  </tr>
  <tr *ngFor="let trai of traiCay2; let i = index">
    <td>{{i+1}}</td>
    <td>{{trai.ten | uppercase}}</td>
    <td ><span [ngClass]="{'so-am':trai.gia >1}">
      {{trai.gia|onSale}}
    </span></td>
  </tr>

</table>
<br>
<Label>Tỉnh/Thành</Label>
<select  id="city" (change)="changeCity($event)">
  <option *ngFor="let c of city" >{{c.city}}</option>

</select>
<br><br>
<Label>Quận/Huyện</Label>
<select  id="district">
  <option  *ngFor="let d of districts" >{{d}}</option>

</select> -->

<span> Counter = {{counter}} </span>
<br>
<span> Counter ^ 2 = {{counterLuyThua}} </span>
</div>
